[Oo]bj/
[Bb]in/
*.user
target/
*.suo
*.cache
*.bak
packages/
msbuild.log
_Resharper*/
_AzurePackage/
*.ncrunchsolution
JabbR*.css
JabbR*.js
TestResults/
lib/Android/Microsoft.AspNet.SignalR.Client.Android.dll.mdb
lib/iOS/Microsoft.AspNet.SignalR.Client.iOS.dll.mdb
.DS_Store
