<div class="social-auth">
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-large btn-block btn-primary twitter" type="button"><i class="icon-twitter-logo"></i>Twitter</button>
            <button class="btn btn-large btn-block btn-primary facebook" type="button"><i class="icon-facebook-logo"></i>Facebook</button>
            <button class="btn btn-large btn-block btn-primary google" type="button"><i class="icon-google-logo"></i>Google</button>
        </div>
    </div>
</div>