@using System;
@using System.Linq;
@using JabbR.Infrastructure;
@using JabbR.Models;
@using JabbR.ViewModels;
@model SocialLoginViewModel
<div class="social-auth">
    <div class="control-group">
        <div class="controls">
            @foreach (var provider in Model.ConfiguredProviders)
            {
                <ul class="inline">
                    @if (!Model.IsAlreadyLinked(provider))
                    {
                        <li><a class="btn btn-provider" href="@Url.Content("~/authentication/redirect/" + provider)"><i class="icon-@provider.ToLower()-logo"></i> @provider</a></li>
                    }
                    else
                    {
                        <li><a href="#" title="unlink identity provider"><i class="icon-unlink"></i></a></li>
                    }
                </ul>
            }
        </div>
    </div>
</div>