<div class="social-auth">
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-large btn-block btn-primary twitter" href="@Url.Content("~/authentication/redirect/twitter")"><i class="icon-twitter-logo"></i> Twitter</a>
            <a class="btn btn-large btn-block btn-primary google" href="@Url.Content("~/authentication/redirect/google")"><i class="icon-google-logo"></i> Google</a>
        </div>
    </div>
</div>