@using JabbR.ViewModels;
@using System.Linq;
@model LoginViewModel
@{
    Layout = "_layout.cshtml"; 
    var hasSocialProviders = Model.SocialDetails.ConfiguredProviders.Any();
}

<div class="row-fluid">
    <div class="span5 @if (!hasSocialProviders) {<text>offset3</text>}">
    <div class="usernamepassword-auth @if(hasSocialProviders) {<text>auth-divider</text>}">
        @Html.Partial("_username")
        </div>
    </div>
    <div class="span5">
    <div class="social-auth">
        @Html.Partial("_social", Model.SocialDetails)
    </div>

    </div>
</div>