@using JabbR.Services;
@using JabbR.ViewModels;
@model LoginViewModel
@{
    Layout = "_layout.cshtml";
}
@switch ((AuthenticationMode)Model.AuthenticationMode)
{
    case AuthenticationMode.Default:
    <div class="row-fluid">
        <div class="span5">
            @Html.Partial("_username")
        </div>
        <div class="span5">
            @Html.Partial("_social", Model.SocialDetails)
        </div>
    </div>
        break;
    case AuthenticationMode.Windows:
    @Html.Partial("_windows")
        break;
}
