@{
    Layout = "_layout.cshtml";
}
<div class="user-registration">
    <form class="form-horizontal" action="@Url.Content("~/account/create")" method="post">
       <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="input-block-level" name="username" type="text" placeholder="Username" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="input-block-level" name="email" type="text" placeholder="Email" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input class="input-block-level" name="password" type="password" placeholder="Password" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input class="input-block-level" name="confirmPassword" type="password" placeholder="Confirm Password" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Register</button>
                <a href="@Url.Content("~/")" class="btn">Cancel</a>
            </div>
        </div>
    </form>
</div>
