@using JabbR;
@{
    Layout = "_layout.cshtml";
}
<div class="user-reset-password">
    <p>
        Instructions to reset password has been sent to email registered on user <b>@Model</b>.
    </p>
    <p>
        If you don't see this email in your inbox within 15 minutes, look for it in your junk-mail folder.
    </p>
</div>
