@using JabbR;
@{
    Layout = "_layout.cshtml";
}
<div class="user-reset-password">
    <p>
        Your password has been reset successfully. 
    </p>
    <p>
        Try <a href="/account/login">sign in</a> to test your new password.       
    </p>
</div>
