@using JabbR;
@{
    Layout = "_layout.cshtml";
}
<div class="user-reset-password">
    <p>
        Your request to reset password @Model.
    </p>
    <p>
        If you really need to reset your account, try <a href="/account/requestresetpassword">request reset password</a> again.
    </p>
</div>
