body {
    font-family: Trebuchet MS;
    font-size: 13px;
}

#messages {
    width: 70%;
    border: 1px solid #ccc;
    height: 500px;
    float: left;
    overflow: auto;
    margin-left: 0px;
    padding-left: 0px;
}

#messages li {
    list-style-type: none;
    padding: 3px;
}

#messages li img {
    height: 16px;
    width: 16px;
}

#users {
    width: 17%;
    height: 500px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    font-size: small;
    white-space: nowrap;
}

#users li {
    padding: 4px;
}

#users li.typing {
    background-image: url('Content/images/keyboard.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.clear {
    clear: both;
}

#new-message {
    font-family: Trebuchet MS;
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
}

.error {
    color: Red;
}

.pm {
    color: Red;
}

.notification {
    color: #bbb;
}

.message {
}

/* This stuff is to support TweetContentProvider, but should be extracted out if other content providers need custom CSS */

.tweet {
    margin-left: 30px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 6px;
    min-height: 48px;
}

.tweet img {
    float: left;
    margin-right: 5px;
}

.tweet .user {
    margin-bottom: 5px;
}

.tweet .name {
    font-weight: bold;
    font-size: 15px;
}

/* End TweetContentProvider CSS */