body {
    font-family: Trebuchet MS;
    font-size: 13px;
}

#chat-area {
    position: absolute;
    top: 85px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    min-height: 200px;
}

.messages {
    width: 70%;
    border: 1px solid #ccc;
    overflow: auto;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    position: absolute;
    top: 24px;
    bottom: 70px;
}

.messages li {
    list-style-type: none;
    padding: 3px;
}

.messages li img.gravatar {
    height: 16px;
    width: 16px;
}

.users {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    font-size: small;
    white-space: nowrap;
    position: absolute;
    top: 24px;
    left: 70%;
    width: 25%;
    bottom: 70px;
    margin-left: 2px; /* for #messages border */
    margin-top: 0px;
}

.users li {
    padding: 4px;
}

.users li.typing {
    background-image: url('Content/images/keyboard.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #f9f9f9;
}

#tabs {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#tabs li {
    display: inline-block;
    padding: 4px 8px;
    margin: 0px 2px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-bottom: 0px;
    color: #000;
    height: 15px;
}

#tabs li.current {
    background-color: #ccc;
}

#tabs li.unread {
    color: #f00;
}

#tabs li:hover {
    background-color: #eee;
}

.close-icon {
    width: 16px;
    height: 16px;
}

li.room {
    cursor: pointer;
}


#send-message {
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: 70%;
}

#message-box {
    position: absolute;
    left: 0;
    right: 115px;
    padding: 0;
    margin: 0;
}

#new-message {
    font-family: Trebuchet MS;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

#send {
    padding: 5px;
    position: absolute;
    right: 0;
    width: 100px;
}

#message-instruction {
    color: #999;
    font-style: italic;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.error {
    color: Red;
}

.pm {
    color: Red;
}

.notification {
    color: #bbb;
}

.message {
}

.highlight {
    background-color: #fff6bd;
}


/* This stuff is to support TweetContentProvider, but should be extracted out if other content providers need custom CSS */

.tweet {
    margin-left: 30px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 6px;
    min-height: 48px;
}

.tweet img {
    float: left;
    margin-right: 5px;
}

.tweet .user {
    margin-bottom: 5px;
}

.tweet .name {
    font-weight: bold;
    font-size: 15px;
}

/* End TweetContentProvider CSS */

.captureDocumentWrite_collapsible h3, h3.collapsible_title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #1c94c4;
    font-size: smaller;
    padding: 5px;
    margin-bottom: 0px;
    border: 1px solid #CCCCCC;
    background-color: rgb(238,238,238);
    cursor: pointer;
}

.collapsible_box {
    border: 1px solid #DDD;
}
