body {
    font-family: Trebuchet MS;
    font-size: 13px;
}

#chat-area {
   position: absolute;
   top: 100px;
   bottom: 10px;
   left: 10px;
   right: 10px;
   min-height: 200px;
}

#messages {
    width: 70%;
    border: 1px solid #ccc;
    overflow: auto;
    margin-left: 0px;
    padding-left: 0px;
    position: absolute;
    top: 0;
    bottom: 70px;
}

#messages li {
    list-style-type: none;
    padding: 3px;
}

#messages li img.gravatar {
    height: 16px;
    width: 16px;
}

#users {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    font-size: small;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 70%;
    width: 25%;
    bottom: 70px;
    margin-left: 2px; /* for #messages border */
}

#users li {
    padding: 4px;
}

#users li.typing {
    background-image: url('Content/images/keyboard.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #f9f9f9;
}

#send-message {
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: 100%;
}

#new-message {
    font-family: Trebuchet MS;
    padding: 5px;
    border: 1px solid #ccc;
    width: 70%;
}

#send {
   padding: 5px;
}

.error {
    color: Red;
}

.pm {
    color: Red;
}

.notification {
    color: #bbb;
}

.message {
}

/* This stuff is to support TweetContentProvider, but should be extracted out if other content providers need custom CSS */

.tweet {
    margin-left: 30px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 6px;
    min-height: 48px;
}

.tweet img {
    float: left;
    margin-right: 5px;
}

.tweet .user {
    margin-bottom: 5px;
}

.tweet .name {
    font-weight: bold;
    font-size: 15px;
}

/* End TweetContentProvider CSS */