<h2 class="userlist-header nav-header">{{getTitle(isPrivate)}}</h2>
<ul data-empty-message="@LanguageResources.Client_NoMatchingRooms">
    <li data-ng-repeat="room in rooms | filter:{Private: isPrivate} | filter:roomSearchText | limitTo: itemsLimit()" data-ng-hide="!showClosedRooms && room.Closed" class="room" data-ng-class="{room.Private: locked, room.Closed: closed}"  data-ng-click="joinRoom($event, room)">
        <div class="row-fluid room-row">
            <div class="span3">
                <span class="name">{{room.Name}}</span>
                <span class="lock" data-ng-show="room.Private"><i class="icon-lock"></i></span>
                <span class="readonly" data-ng-show="room.Closed"><i class="icon-ban-circle"></i></span>
            </div>
            <div class="span4">
                <span class="topic" data-ng-bind-html="room.Topic"></span>
            </div>
            <div class="span2">
                <span class="count">{{ getUserCount(room) }}</span>
            </div>
        </div>
    </li>
</ul>
<div id="load-more-rooms-item" class="room" data-ng-show="hasMoreItems()" data-ng-click="showMoreItems()">
    <div class="row-fluid room-row load-more-rooms"><i class="icon-spinner" style="display: none;"></i>{{loadMoreTitle}}</div>
</div>
