<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageSources>
        <add key="_nuget.org" value="https://www.nuget.org/api/v2/" />
        <add key="_jabbr" value="http://www.myget.org/F/jabbr/" />
        <add key="_aspnetwebstacknightlyrelease" value="http://www.myget.org/F/aspnetwebstacknightlyrelease/" />
        <add key="_aspnetwebstacknightly" value="http://www.myget.org/F/aspnetwebstacknightly/" />
    </packageSources>
</configuration>