<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageSources>
        <add key="aspnetwebstacknightlyrelease" value="http://www.myget.org/F/aspnetwebstacknightlyrelease/" />
        <add key="aspnetwebstacknightly" value="http://www.myget.org/F/aspnetwebstacknightly/" />
    </packageSources>
</configuration>