<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20515.0" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20515.0" />
  <package id="Microsoft.Net.Http" version="2.0.20515.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="Newtonsoft.Json" version="4.5.7" />
  <package id="SignalR.Server" version="0.5.2" targetFramework="net40" />
  <package id="xunit" version="1.9.0.1566" />
</packages>