.emoji20 { position: relative; display: inline-block; width: 20px; height: 20px; top: 5px; margin-top: -5px; }
.emoji20-plus1 { background:url(images/emoji20.png) no-repeat -0px -0px; }
.emoji20-0 { background:url(images/emoji20.png) no-repeat -0px -20px; }
.emoji20-1 { background:url(images/emoji20.png) no-repeat -0px -40px; }
.emoji20--1 { background:url(images/emoji20.png) no-repeat -0px -60px; }
.emoji20-2 { background:url(images/emoji20.png) no-repeat -0px -80px; }
.emoji20-3 { background:url(images/emoji20.png) no-repeat -0px -100px; }
.emoji20-4 { background:url(images/emoji20.png) no-repeat -0px -120px; }
.emoji20-5 { background:url(images/emoji20.png) no-repeat -0px -140px; }
.emoji20-6 { background:url(images/emoji20.png) no-repeat -0px -160px; }
.emoji20-7 { background:url(images/emoji20.png) no-repeat -0px -180px; }
.emoji20-8 { background:url(images/emoji20.png) no-repeat -0px -200px; }
.emoji20-8ball { background:url(images/emoji20.png) no-repeat -0px -220px; }
.emoji20-9 { background:url(images/emoji20.png) no-repeat -0px -240px; }
.emoji20-109 { background:url(images/emoji20.png) no-repeat -0px -260px; }
.emoji20-a { background:url(images/emoji20.png) no-repeat -0px -280px; }
.emoji20-ab { background:url(images/emoji20.png) no-repeat -0px -300px; }
.emoji20-airplane { background:url(images/emoji20.png) no-repeat -0px -320px; }
.emoji20-alien { background:url(images/emoji20.png) no-repeat -0px -340px; }
.emoji20-ambulance { background:url(images/emoji20.png) no-repeat -0px -360px; }
.emoji20-angel { background:url(images/emoji20.png) no-repeat -0px -380px; }
.emoji20-anger { background:url(images/emoji20.png) no-repeat -0px -400px; }
.emoji20-angry { background:url(images/emoji20.png) no-repeat -0px -420px; }
.emoji20-apple { background:url(images/emoji20.png) no-repeat -0px -440px; }
.emoji20-aquarius { background:url(images/emoji20.png) no-repeat -0px -460px; }
.emoji20-aries { background:url(images/emoji20.png) no-repeat -0px -480px; }
.emoji20-arrow_backward { background:url(images/emoji20.png) no-repeat -0px -500px; }
.emoji20-arrow_down { background:url(images/emoji20.png) no-repeat -0px -520px; }
.emoji20-arrow_forward { background:url(images/emoji20.png) no-repeat -0px -540px; }
.emoji20-arrow_left { background:url(images/emoji20.png) no-repeat -0px -560px; }
.emoji20-arrow_lower_left { background:url(images/emoji20.png) no-repeat -0px -580px; }
.emoji20-arrow_lower_right { background:url(images/emoji20.png) no-repeat -0px -600px; }
.emoji20-arrow_right { background:url(images/emoji20.png) no-repeat -0px -620px; }
.emoji20-arrow_up { background:url(images/emoji20.png) no-repeat -0px -640px; }
.emoji20-arrow_upper_left { background:url(images/emoji20.png) no-repeat -0px -660px; }
.emoji20-arrow_upper_right { background:url(images/emoji20.png) no-repeat -0px -680px; }
.emoji20-art { background:url(images/emoji20.png) no-repeat -0px -700px; }
.emoji20-astonished { background:url(images/emoji20.png) no-repeat -0px -720px; }
.emoji20-atm { background:url(images/emoji20.png) no-repeat -0px -740px; }
.emoji20-b { background:url(images/emoji20.png) no-repeat -0px -760px; }
.emoji20-baby { background:url(images/emoji20.png) no-repeat -0px -780px; }
.emoji20-baby_chick { background:url(images/emoji20.png) no-repeat -0px -800px; }
.emoji20-baby_symbol { background:url(images/emoji20.png) no-repeat -0px -820px; }
.emoji20-balloon { background:url(images/emoji20.png) no-repeat -0px -840px; }
.emoji20-bamboo { background:url(images/emoji20.png) no-repeat -0px -860px; }
.emoji20-bank { background:url(images/emoji20.png) no-repeat -0px -880px; }
.emoji20-barber { background:url(images/emoji20.png) no-repeat -0px -900px; }
.emoji20-baseball { background:url(images/emoji20.png) no-repeat -0px -920px; }
.emoji20-basketball { background:url(images/emoji20.png) no-repeat -0px -940px; }
.emoji20-bath { background:url(images/emoji20.png) no-repeat -0px -960px; }
.emoji20-bear { background:url(images/emoji20.png) no-repeat -0px -980px; }
.emoji20-beer { background:url(images/emoji20.png) no-repeat -0px -1000px; }
.emoji20-beers { background:url(images/emoji20.png) no-repeat -0px -1020px; }
.emoji20-beginner { background:url(images/emoji20.png) no-repeat -0px -1040px; }
.emoji20-bell { background:url(images/emoji20.png) no-repeat -0px -1060px; }
.emoji20-bento { background:url(images/emoji20.png) no-repeat -0px -1080px; }
.emoji20-bike { background:url(images/emoji20.png) no-repeat -0px -1100px; }
.emoji20-bikini { background:url(images/emoji20.png) no-repeat -0px -1120px; }
.emoji20-bird { background:url(images/emoji20.png) no-repeat -0px -1140px; }
.emoji20-birthday { background:url(images/emoji20.png) no-repeat -0px -1160px; }
.emoji20-black_square { background:url(images/emoji20.png) no-repeat -0px -1180px; }
.emoji20-blue_car { background:url(images/emoji20.png) no-repeat -0px -1200px; }
.emoji20-blue_heart { background:url(images/emoji20.png) no-repeat -0px -1220px; }
.emoji20-blush { background:url(images/emoji20.png) no-repeat -0px -1240px; }
.emoji20-boar { background:url(images/emoji20.png) no-repeat -0px -1260px; }
.emoji20-boat { background:url(images/emoji20.png) no-repeat -0px -1280px; }
.emoji20-bomb { background:url(images/emoji20.png) no-repeat -0px -1300px; }
.emoji20-book { background:url(images/emoji20.png) no-repeat -0px -1320px; }
.emoji20-boot { background:url(images/emoji20.png) no-repeat -0px -1340px; }
.emoji20-bouquet { background:url(images/emoji20.png) no-repeat -0px -1360px; }
.emoji20-bow { background:url(images/emoji20.png) no-repeat -0px -1380px; }
.emoji20-bowtie { background:url(images/emoji20.png) no-repeat -0px -1400px; }
.emoji20-boy { background:url(images/emoji20.png) no-repeat -0px -1420px; }
.emoji20-bread { background:url(images/emoji20.png) no-repeat -0px -1440px; }
.emoji20-briefcase { background:url(images/emoji20.png) no-repeat -0px -1460px; }
.emoji20-broken_heart { background:url(images/emoji20.png) no-repeat -0px -1480px; }
.emoji20-bug { background:url(images/emoji20.png) no-repeat -0px -1500px; }
.emoji20-bulb { background:url(images/emoji20.png) no-repeat -0px -1520px; }
.emoji20-bullettrain_front { background:url(images/emoji20.png) no-repeat -0px -1540px; }
.emoji20-bullettrain_side { background:url(images/emoji20.png) no-repeat -0px -1560px; }
.emoji20-bus { background:url(images/emoji20.png) no-repeat -0px -1580px; }
.emoji20-busstop { background:url(images/emoji20.png) no-repeat -0px -1600px; }
.emoji20-cactus { background:url(images/emoji20.png) no-repeat -0px -1620px; }
.emoji20-cake { background:url(images/emoji20.png) no-repeat -0px -1640px; }
.emoji20-calling { background:url(images/emoji20.png) no-repeat -0px -1660px; }
.emoji20-camel { background:url(images/emoji20.png) no-repeat -0px -1680px; }
.emoji20-camera { background:url(images/emoji20.png) no-repeat -0px -1700px; }
.emoji20-cancer { background:url(images/emoji20.png) no-repeat -0px -1720px; }
.emoji20-capricorn { background:url(images/emoji20.png) no-repeat -0px -1740px; }
.emoji20-car { background:url(images/emoji20.png) no-repeat -0px -1760px; }
.emoji20-cat { background:url(images/emoji20.png) no-repeat -0px -1780px; }
.emoji20-cd { background:url(images/emoji20.png) no-repeat -0px -1800px; }
.emoji20-chart { background:url(images/emoji20.png) no-repeat -0px -1820px; }
.emoji20-checkered_flag { background:url(images/emoji20.png) no-repeat -0px -1840px; }
.emoji20-cherry_blossom { background:url(images/emoji20.png) no-repeat -0px -1860px; }
.emoji20-chicken { background:url(images/emoji20.png) no-repeat -0px -1880px; }
.emoji20-christmas_tree { background:url(images/emoji20.png) no-repeat -0px -1900px; }
.emoji20-church { background:url(images/emoji20.png) no-repeat -0px -1920px; }
.emoji20-cinema { background:url(images/emoji20.png) no-repeat -0px -1940px; }
.emoji20-city_sunrise { background:url(images/emoji20.png) no-repeat -0px -1960px; }
.emoji20-city_sunset { background:url(images/emoji20.png) no-repeat -0px -1980px; }
.emoji20-clap { background:url(images/emoji20.png) no-repeat -0px -2000px; }
.emoji20-clapper { background:url(images/emoji20.png) no-repeat -0px -2020px; }
.emoji20-clock1 { background:url(images/emoji20.png) no-repeat -0px -2040px; }
.emoji20-clock2 { background:url(images/emoji20.png) no-repeat -0px -2060px; }
.emoji20-clock3 { background:url(images/emoji20.png) no-repeat -0px -2080px; }
.emoji20-clock4 { background:url(images/emoji20.png) no-repeat -0px -2100px; }
.emoji20-clock5 { background:url(images/emoji20.png) no-repeat -0px -2120px; }
.emoji20-clock6 { background:url(images/emoji20.png) no-repeat -0px -2140px; }
.emoji20-clock7 { background:url(images/emoji20.png) no-repeat -0px -2160px; }
.emoji20-clock8 { background:url(images/emoji20.png) no-repeat -0px -2180px; }
.emoji20-clock9 { background:url(images/emoji20.png) no-repeat -0px -2200px; }
.emoji20-clock10 { background:url(images/emoji20.png) no-repeat -0px -2220px; }
.emoji20-clock11 { background:url(images/emoji20.png) no-repeat -0px -2240px; }
.emoji20-clock12 { background:url(images/emoji20.png) no-repeat -0px -2260px; }
.emoji20-closed_umbrella { background:url(images/emoji20.png) no-repeat -0px -2280px; }
.emoji20-cloud { background:url(images/emoji20.png) no-repeat -0px -2300px; }
.emoji20-clubs { background:url(images/emoji20.png) no-repeat -0px -2320px; }
.emoji20-cn { background:url(images/emoji20.png) no-repeat -0px -2340px; }
.emoji20-cocktail { background:url(images/emoji20.png) no-repeat -0px -2360px; }
.emoji20-coffee { background:url(images/emoji20.png) no-repeat -0px -2380px; }
.emoji20-cold_sweat { background:url(images/emoji20.png) no-repeat -0px -2400px; }
.emoji20-computer { background:url(images/emoji20.png) no-repeat -0px -2420px; }
.emoji20-confounded { background:url(images/emoji20.png) no-repeat -0px -2440px; }
.emoji20-congratulations { background:url(images/emoji20.png) no-repeat -0px -2460px; }
.emoji20-construction { background:url(images/emoji20.png) no-repeat -0px -2480px; }
.emoji20-construction_worker { background:url(images/emoji20.png) no-repeat -0px -2500px; }
.emoji20-convenience_store { background:url(images/emoji20.png) no-repeat -0px -2520px; }
.emoji20-cool { background:url(images/emoji20.png) no-repeat -0px -2540px; }
.emoji20-cop { background:url(images/emoji20.png) no-repeat -0px -2560px; }
.emoji20-copyright { background:url(images/emoji20.png) no-repeat -0px -2580px; }
.emoji20-couple { background:url(images/emoji20.png) no-repeat -0px -2600px; }
.emoji20-couple_with_heart { background:url(images/emoji20.png) no-repeat -0px -2620px; }
.emoji20-couplekiss { background:url(images/emoji20.png) no-repeat -0px -2640px; }
.emoji20-cow { background:url(images/emoji20.png) no-repeat -0px -2660px; }
.emoji20-crossed_flags { background:url(images/emoji20.png) no-repeat -0px -2680px; }
.emoji20-crown { background:url(images/emoji20.png) no-repeat -0px -2700px; }
.emoji20-cry { background:url(images/emoji20.png) no-repeat -0px -2720px; }
.emoji20-cupid { background:url(images/emoji20.png) no-repeat -0px -2740px; }
.emoji20-currency_exchange { background:url(images/emoji20.png) no-repeat -0px -2760px; }
.emoji20-curry { background:url(images/emoji20.png) no-repeat -0px -2780px; }
.emoji20-cyclone { background:url(images/emoji20.png) no-repeat -0px -2800px; }
.emoji20-dancer { background:url(images/emoji20.png) no-repeat -0px -2820px; }
.emoji20-dancers { background:url(images/emoji20.png) no-repeat -0px -2840px; }
.emoji20-dango { background:url(images/emoji20.png) no-repeat -0px -2860px; }
.emoji20-dart { background:url(images/emoji20.png) no-repeat -0px -2880px; }
.emoji20-dash { background:url(images/emoji20.png) no-repeat -0px -2900px; }
.emoji20-de { background:url(images/emoji20.png) no-repeat -0px -2920px; }
.emoji20-department_store { background:url(images/emoji20.png) no-repeat -0px -2940px; }
.emoji20-diamonds { background:url(images/emoji20.png) no-repeat -0px -2960px; }
.emoji20-disappointed { background:url(images/emoji20.png) no-repeat -0px -2980px; }
.emoji20-dog { background:url(images/emoji20.png) no-repeat -0px -3000px; }
.emoji20-dolls { background:url(images/emoji20.png) no-repeat -0px -3020px; }
.emoji20-dolphin { background:url(images/emoji20.png) no-repeat -0px -3040px; }
.emoji20-dress { background:url(images/emoji20.png) no-repeat -0px -3060px; }
.emoji20-dvd { background:url(images/emoji20.png) no-repeat -0px -3080px; }
.emoji20-ear { background:url(images/emoji20.png) no-repeat -0px -3100px; }
.emoji20-ear_of_rice { background:url(images/emoji20.png) no-repeat -0px -3120px; }
.emoji20-egg { background:url(images/emoji20.png) no-repeat -0px -3140px; }
.emoji20-eggplant { background:url(images/emoji20.png) no-repeat -0px -3160px; }
.emoji20-egplant { background:url(images/emoji20.png) no-repeat -0px -3180px; }
.emoji20-eight_pointed_black_star { background:url(images/emoji20.png) no-repeat -0px -3200px; }
.emoji20-eight_spoked_asterisk { background:url(images/emoji20.png) no-repeat -0px -3220px; }
.emoji20-elephant { background:url(images/emoji20.png) no-repeat -0px -3240px; }
.emoji20-email { background:url(images/emoji20.png) no-repeat -0px -3260px; }
.emoji20-es { background:url(images/emoji20.png) no-repeat -0px -3280px; }
.emoji20-european_castle { background:url(images/emoji20.png) no-repeat -0px -3300px; }
.emoji20-exclamation { background:url(images/emoji20.png) no-repeat -0px -3320px; }
.emoji20-eyes { background:url(images/emoji20.png) no-repeat -0px -3340px; }
.emoji20-factory { background:url(images/emoji20.png) no-repeat -0px -3360px; }
.emoji20-fallen_leaf { background:url(images/emoji20.png) no-repeat -0px -3380px; }
.emoji20-fast_forward { background:url(images/emoji20.png) no-repeat -0px -3400px; }
.emoji20-fax { background:url(images/emoji20.png) no-repeat -0px -3420px; }
.emoji20-fearful { background:url(images/emoji20.png) no-repeat -0px -3440px; }
.emoji20-feelsgood { background:url(images/emoji20.png) no-repeat -0px -3460px; }
.emoji20-feet { background:url(images/emoji20.png) no-repeat -0px -3480px; }
.emoji20-ferris_wheel { background:url(images/emoji20.png) no-repeat -0px -3500px; }
.emoji20-finnadie { background:url(images/emoji20.png) no-repeat -0px -3520px; }
.emoji20-fire { background:url(images/emoji20.png) no-repeat -0px -3540px; }
.emoji20-fire_engine { background:url(images/emoji20.png) no-repeat -0px -3560px; }
.emoji20-fireworks { background:url(images/emoji20.png) no-repeat -0px -3580px; }
.emoji20-fish { background:url(images/emoji20.png) no-repeat -0px -3600px; }
.emoji20-fist { background:url(images/emoji20.png) no-repeat -0px -3620px; }
.emoji20-flags { background:url(images/emoji20.png) no-repeat -0px -3640px; }
.emoji20-flushed { background:url(images/emoji20.png) no-repeat -0px -3660px; }
.emoji20-football { background:url(images/emoji20.png) no-repeat -0px -3680px; }
.emoji20-fork_and_knife { background:url(images/emoji20.png) no-repeat -0px -3700px; }
.emoji20-fountain { background:url(images/emoji20.png) no-repeat -0px -3720px; }
.emoji20-four_leaf_clover { background:url(images/emoji20.png) no-repeat -0px -3740px; }
.emoji20-fr { background:url(images/emoji20.png) no-repeat -0px -3760px; }
.emoji20-fries { background:url(images/emoji20.png) no-repeat -0px -3780px; }
.emoji20-frog { background:url(images/emoji20.png) no-repeat -0px -3800px; }
.emoji20-fuelpump { background:url(images/emoji20.png) no-repeat -0px -3820px; }
.emoji20-gb { background:url(images/emoji20.png) no-repeat -0px -3840px; }
.emoji20-gem { background:url(images/emoji20.png) no-repeat -0px -3860px; }
.emoji20-gemini { background:url(images/emoji20.png) no-repeat -0px -3880px; }
.emoji20-ghost { background:url(images/emoji20.png) no-repeat -0px -3900px; }
.emoji20-gift { background:url(images/emoji20.png) no-repeat -0px -3920px; }
.emoji20-gift_heart { background:url(images/emoji20.png) no-repeat -0px -3940px; }
.emoji20-girl { background:url(images/emoji20.png) no-repeat -0px -3960px; }
.emoji20-goberserk { background:url(images/emoji20.png) no-repeat -0px -3980px; }
.emoji20-godmode { background:url(images/emoji20.png) no-repeat -0px -4000px; }
.emoji20-golf { background:url(images/emoji20.png) no-repeat -0px -4020px; }
.emoji20-green_heart { background:url(images/emoji20.png) no-repeat -0px -4040px; }
.emoji20-grey_exclamation { background:url(images/emoji20.png) no-repeat -0px -4060px; }
.emoji20-grey_question { background:url(images/emoji20.png) no-repeat -0px -4080px; }
.emoji20-grin { background:url(images/emoji20.png) no-repeat -0px -4100px; }
.emoji20-guardsman { background:url(images/emoji20.png) no-repeat -0px -4120px; }
.emoji20-guitar { background:url(images/emoji20.png) no-repeat -0px -4140px; }
.emoji20-gun { background:url(images/emoji20.png) no-repeat -0px -4160px; }
.emoji20-haircut { background:url(images/emoji20.png) no-repeat -0px -4180px; }
.emoji20-hamburger { background:url(images/emoji20.png) no-repeat -0px -4200px; }
.emoji20-hammer { background:url(images/emoji20.png) no-repeat -0px -4220px; }
.emoji20-hamster { background:url(images/emoji20.png) no-repeat -0px -4240px; }
.emoji20-hand { background:url(images/emoji20.png) no-repeat -0px -4260px; }
.emoji20-handbag { background:url(images/emoji20.png) no-repeat -0px -4280px; }
.emoji20-hankey { background:url(images/emoji20.png) no-repeat -0px -4300px; }
.emoji20-hash { background:url(images/emoji20.png) no-repeat -0px -4320px; }
.emoji20-headphones { background:url(images/emoji20.png) no-repeat -0px -4340px; }
.emoji20-heart { background:url(images/emoji20.png) no-repeat -0px -4360px; }
.emoji20-heart_decoration { background:url(images/emoji20.png) no-repeat -0px -4380px; }
.emoji20-heart_eyes { background:url(images/emoji20.png) no-repeat -0px -4400px; }
.emoji20-heartbeat { background:url(images/emoji20.png) no-repeat -0px -4420px; }
.emoji20-heartpulse { background:url(images/emoji20.png) no-repeat -0px -4440px; }
.emoji20-hearts { background:url(images/emoji20.png) no-repeat -0px -4460px; }
.emoji20-hibiscus { background:url(images/emoji20.png) no-repeat -0px -4480px; }
.emoji20-high_heel { background:url(images/emoji20.png) no-repeat -0px -4500px; }
.emoji20-horse { background:url(images/emoji20.png) no-repeat -0px -4520px; }
.emoji20-hospital { background:url(images/emoji20.png) no-repeat -0px -4540px; }
.emoji20-hotel { background:url(images/emoji20.png) no-repeat -0px -4560px; }
.emoji20-hotsprings { background:url(images/emoji20.png) no-repeat -0px -4580px; }
.emoji20-house { background:url(images/emoji20.png) no-repeat -0px -4600px; }
.emoji20-hurtrealbad { background:url(images/emoji20.png) no-repeat -0px -4620px; }
.emoji20-icecream { background:url(images/emoji20.png) no-repeat -0px -4640px; }
.emoji20-id { background:url(images/emoji20.png) no-repeat -0px -4660px; }
.emoji20-ideograph_advantage { background:url(images/emoji20.png) no-repeat -0px -4680px; }
.emoji20-imp { background:url(images/emoji20.png) no-repeat -0px -4700px; }
.emoji20-information_desk_person { background:url(images/emoji20.png) no-repeat -0px -4720px; }
.emoji20-iphone { background:url(images/emoji20.png) no-repeat -0px -4740px; }
.emoji20-it { background:url(images/emoji20.png) no-repeat -0px -4760px; }
.emoji20-jack_o_lantern { background:url(images/emoji20.png) no-repeat -0px -4780px; }
.emoji20-japanese_castle { background:url(images/emoji20.png) no-repeat -0px -4800px; }
.emoji20-joy { background:url(images/emoji20.png) no-repeat -0px -4820px; }
.emoji20-jp { background:url(images/emoji20.png) no-repeat -0px -4840px; }
.emoji20-key { background:url(images/emoji20.png) no-repeat -0px -4860px; }
.emoji20-kimono { background:url(images/emoji20.png) no-repeat -0px -4880px; }
.emoji20-kiss { background:url(images/emoji20.png) no-repeat -0px -4900px; }
.emoji20-kissing_face { background:url(images/emoji20.png) no-repeat -0px -4920px; }
.emoji20-kissing_heart { background:url(images/emoji20.png) no-repeat -0px -4940px; }
.emoji20-koala { background:url(images/emoji20.png) no-repeat -0px -4960px; }
.emoji20-koko { background:url(images/emoji20.png) no-repeat -0px -4980px; }
.emoji20-kr { background:url(images/emoji20.png) no-repeat -0px -5000px; }
.emoji20-leaves { background:url(images/emoji20.png) no-repeat -0px -5020px; }
.emoji20-leo { background:url(images/emoji20.png) no-repeat -0px -5040px; }
.emoji20-libra { background:url(images/emoji20.png) no-repeat -0px -5060px; }
.emoji20-lips { background:url(images/emoji20.png) no-repeat -0px -5080px; }
.emoji20-lipstick { background:url(images/emoji20.png) no-repeat -0px -5100px; }
.emoji20-lock { background:url(images/emoji20.png) no-repeat -0px -5120px; }
.emoji20-loop { background:url(images/emoji20.png) no-repeat -0px -5140px; }
.emoji20-loudspeaker { background:url(images/emoji20.png) no-repeat -0px -5160px; }
.emoji20-love_hotel { background:url(images/emoji20.png) no-repeat -0px -5180px; }
.emoji20-mag { background:url(images/emoji20.png) no-repeat -0px -5200px; }
.emoji20-mahjong { background:url(images/emoji20.png) no-repeat -0px -5220px; }
.emoji20-mailbox { background:url(images/emoji20.png) no-repeat -0px -5240px; }
.emoji20-man { background:url(images/emoji20.png) no-repeat -0px -5260px; }
.emoji20-man_with_gua_pi_mao { background:url(images/emoji20.png) no-repeat -0px -5280px; }
.emoji20-man_with_turban { background:url(images/emoji20.png) no-repeat -0px -5300px; }
.emoji20-maple_leaf { background:url(images/emoji20.png) no-repeat -0px -5320px; }
.emoji20-mask { background:url(images/emoji20.png) no-repeat -0px -5340px; }
.emoji20-massage { background:url(images/emoji20.png) no-repeat -0px -5360px; }
.emoji20-mega { background:url(images/emoji20.png) no-repeat -0px -5380px; }
.emoji20-memo { background:url(images/emoji20.png) no-repeat -0px -5400px; }
.emoji20-mens { background:url(images/emoji20.png) no-repeat -0px -5420px; }
.emoji20-metal { background:url(images/emoji20.png) no-repeat -0px -5440px; }
.emoji20-metro { background:url(images/emoji20.png) no-repeat -0px -5460px; }
.emoji20-microphone { background:url(images/emoji20.png) no-repeat -0px -5480px; }
.emoji20-minidisc { background:url(images/emoji20.png) no-repeat -0px -5500px; }
.emoji20-mobile_phone_off { background:url(images/emoji20.png) no-repeat -0px -5520px; }
.emoji20-moneybag { background:url(images/emoji20.png) no-repeat -0px -5540px; }
.emoji20-monkey { background:url(images/emoji20.png) no-repeat -0px -5560px; }
.emoji20-monkey_face { background:url(images/emoji20.png) no-repeat -0px -5580px; }
.emoji20-moon { background:url(images/emoji20.png) no-repeat -0px -5600px; }
.emoji20-mortar_board { background:url(images/emoji20.png) no-repeat -0px -5620px; }
.emoji20-mount_fuji { background:url(images/emoji20.png) no-repeat -0px -5640px; }
.emoji20-mouse { background:url(images/emoji20.png) no-repeat -0px -5660px; }
.emoji20-movie_camera { background:url(images/emoji20.png) no-repeat -0px -5680px; }
.emoji20-muscle { background:url(images/emoji20.png) no-repeat -0px -5700px; }
.emoji20-musical_note { background:url(images/emoji20.png) no-repeat -0px -5720px; }
.emoji20-nail_care { background:url(images/emoji20.png) no-repeat -0px -5740px; }
.emoji20-necktie { background:url(images/emoji20.png) no-repeat -0px -5760px; }
.emoji20-new { background:url(images/emoji20.png) no-repeat -0px -5780px; }
.emoji20-no_good { background:url(images/emoji20.png) no-repeat -0px -5800px; }
.emoji20-no_smoking { background:url(images/emoji20.png) no-repeat -0px -5820px; }
.emoji20-nose { background:url(images/emoji20.png) no-repeat -0px -5840px; }
.emoji20-notes { background:url(images/emoji20.png) no-repeat -0px -5860px; }
.emoji20-o { background:url(images/emoji20.png) no-repeat -0px -5880px; }
.emoji20-o2 { background:url(images/emoji20.png) no-repeat -0px -5900px; }
.emoji20-ocean { background:url(images/emoji20.png) no-repeat -0px -5920px; }
.emoji20-octocat { background:url(images/emoji20.png) no-repeat -0px -5940px; }
.emoji20-octopus { background:url(images/emoji20.png) no-repeat -0px -5960px; }
.emoji20-oden { background:url(images/emoji20.png) no-repeat -0px -5980px; }
.emoji20-office { background:url(images/emoji20.png) no-repeat -0px -6000px; }
.emoji20-ok { background:url(images/emoji20.png) no-repeat -0px -6020px; }
.emoji20-ok_hand { background:url(images/emoji20.png) no-repeat -0px -6040px; }
.emoji20-ok_woman { background:url(images/emoji20.png) no-repeat -0px -6060px; }
.emoji20-older_man { background:url(images/emoji20.png) no-repeat -0px -6080px; }
.emoji20-older_woman { background:url(images/emoji20.png) no-repeat -0px -6100px; }
.emoji20-open_hands { background:url(images/emoji20.png) no-repeat -0px -6120px; }
.emoji20-ophiuchus { background:url(images/emoji20.png) no-repeat -0px -6140px; }
.emoji20-palm_tree { background:url(images/emoji20.png) no-repeat -0px -6160px; }
.emoji20-parking { background:url(images/emoji20.png) no-repeat -0px -6180px; }
.emoji20-part_alternation_mark { background:url(images/emoji20.png) no-repeat -0px -6200px; }
.emoji20-pencil { background:url(images/emoji20.png) no-repeat -0px -6220px; }
.emoji20-penguin { background:url(images/emoji20.png) no-repeat -0px -6240px; }
.emoji20-pensive { background:url(images/emoji20.png) no-repeat -0px -6260px; }
.emoji20-persevere { background:url(images/emoji20.png) no-repeat -0px -6280px; }
.emoji20-person_with_blond_hair { background:url(images/emoji20.png) no-repeat -0px -6300px; }
.emoji20-phone { background:url(images/emoji20.png) no-repeat -0px -6320px; }
.emoji20-pig { background:url(images/emoji20.png) no-repeat -0px -6340px; }
.emoji20-pill { background:url(images/emoji20.png) no-repeat -0px -6360px; }
.emoji20-pisces { background:url(images/emoji20.png) no-repeat -0px -6380px; }
.emoji20-plus1 { background:url(images/emoji20.png) no-repeat -0px -6400px; }
.emoji20-point_down { background:url(images/emoji20.png) no-repeat -0px -6420px; }
.emoji20-point_left { background:url(images/emoji20.png) no-repeat -0px -6440px; }
.emoji20-point_right { background:url(images/emoji20.png) no-repeat -0px -6460px; }
.emoji20-point_up { background:url(images/emoji20.png) no-repeat -0px -6480px; }
.emoji20-point_up_2 { background:url(images/emoji20.png) no-repeat -0px -6500px; }
.emoji20-police_car { background:url(images/emoji20.png) no-repeat -0px -6520px; }
.emoji20-poop { background:url(images/emoji20.png) no-repeat -0px -6540px; }
.emoji20-post_office { background:url(images/emoji20.png) no-repeat -0px -6560px; }
.emoji20-postbox { background:url(images/emoji20.png) no-repeat -0px -6580px; }
.emoji20-pray { background:url(images/emoji20.png) no-repeat -0px -6600px; }
.emoji20-princess { background:url(images/emoji20.png) no-repeat -0px -6620px; }
.emoji20-punch { background:url(images/emoji20.png) no-repeat -0px -6640px; }
.emoji20-purple_heart { background:url(images/emoji20.png) no-repeat -0px -6660px; }
.emoji20-question { background:url(images/emoji20.png) no-repeat -0px -6680px; }
.emoji20-rabbit { background:url(images/emoji20.png) no-repeat -0px -6700px; }
.emoji20-racehorse { background:url(images/emoji20.png) no-repeat -0px -6720px; }
.emoji20-radio { background:url(images/emoji20.png) no-repeat -0px -6740px; }
.emoji20-rage { background:url(images/emoji20.png) no-repeat -0px -6760px; }
.emoji20-rage1 { background:url(images/emoji20.png) no-repeat -0px -6780px; }
.emoji20-rage2 { background:url(images/emoji20.png) no-repeat -0px -6800px; }
.emoji20-rage3 { background:url(images/emoji20.png) no-repeat -0px -6820px; }
.emoji20-rage4 { background:url(images/emoji20.png) no-repeat -0px -6840px; }
.emoji20-rainbow { background:url(images/emoji20.png) no-repeat -0px -6860px; }
.emoji20-raised_hands { background:url(images/emoji20.png) no-repeat -0px -6880px; }
.emoji20-ramen { background:url(images/emoji20.png) no-repeat -0px -6900px; }
.emoji20-red_car { background:url(images/emoji20.png) no-repeat -0px -6920px; }
.emoji20-red_circle { background:url(images/emoji20.png) no-repeat -0px -6940px; }
.emoji20-registered { background:url(images/emoji20.png) no-repeat -0px -6960px; }
.emoji20-relaxed { background:url(images/emoji20.png) no-repeat -0px -6980px; }
.emoji20-relieved { background:url(images/emoji20.png) no-repeat -0px -7000px; }
.emoji20-restroom { background:url(images/emoji20.png) no-repeat -0px -7020px; }
.emoji20-rewind { background:url(images/emoji20.png) no-repeat -0px -7040px; }
.emoji20-ribbon { background:url(images/emoji20.png) no-repeat -0px -7060px; }
.emoji20-rice { background:url(images/emoji20.png) no-repeat -0px -7080px; }
.emoji20-rice_ball { background:url(images/emoji20.png) no-repeat -0px -7100px; }
.emoji20-rice_cracker { background:url(images/emoji20.png) no-repeat -0px -7120px; }
.emoji20-rice_scene { background:url(images/emoji20.png) no-repeat -0px -7140px; }
.emoji20-ring { background:url(images/emoji20.png) no-repeat -0px -7160px; }
.emoji20-rocket { background:url(images/emoji20.png) no-repeat -0px -7180px; }
.emoji20-roller_coaster { background:url(images/emoji20.png) no-repeat -0px -7200px; }
.emoji20-rose { background:url(images/emoji20.png) no-repeat -0px -7220px; }
.emoji20-ru { background:url(images/emoji20.png) no-repeat -0px -7240px; }
.emoji20-runner { background:url(images/emoji20.png) no-repeat -0px -7260px; }
.emoji20-sa { background:url(images/emoji20.png) no-repeat -0px -7280px; }
.emoji20-sagittarius { background:url(images/emoji20.png) no-repeat -0px -7300px; }
.emoji20-sailboat { background:url(images/emoji20.png) no-repeat -0px -7320px; }
.emoji20-sake { background:url(images/emoji20.png) no-repeat -0px -7340px; }
.emoji20-sandal { background:url(images/emoji20.png) no-repeat -0px -7360px; }
.emoji20-santa { background:url(images/emoji20.png) no-repeat -0px -7380px; }
.emoji20-satellite { background:url(images/emoji20.png) no-repeat -0px -7400px; }
.emoji20-satisfied { background:url(images/emoji20.png) no-repeat -0px -7420px; }
.emoji20-saxophone { background:url(images/emoji20.png) no-repeat -0px -7440px; }
.emoji20-school { background:url(images/emoji20.png) no-repeat -0px -7460px; }
.emoji20-school_satchel { background:url(images/emoji20.png) no-repeat -0px -7480px; }
.emoji20-scissors { background:url(images/emoji20.png) no-repeat -0px -7500px; }
.emoji20-scorpius { background:url(images/emoji20.png) no-repeat -0px -7520px; }
.emoji20-scream { background:url(images/emoji20.png) no-repeat -0px -7540px; }
.emoji20-seat { background:url(images/emoji20.png) no-repeat -0px -7560px; }
.emoji20-secret { background:url(images/emoji20.png) no-repeat -0px -7580px; }
.emoji20-shaved_ice { background:url(images/emoji20.png) no-repeat -0px -7600px; }
.emoji20-sheep { background:url(images/emoji20.png) no-repeat -0px -7620px; }
.emoji20-shell { background:url(images/emoji20.png) no-repeat -0px -7640px; }
.emoji20-ship { background:url(images/emoji20.png) no-repeat -0px -7660px; }
.emoji20-shipit { background:url(images/emoji20.png) no-repeat -0px -7680px; }
.emoji20-shirt { background:url(images/emoji20.png) no-repeat -0px -7700px; }
.emoji20-shit { background:url(images/emoji20.png) no-repeat -0px -7720px; }
.emoji20-shoe { background:url(images/emoji20.png) no-repeat -0px -7740px; }
.emoji20-signal_strength { background:url(images/emoji20.png) no-repeat -0px -7760px; }
.emoji20-six_pointed_star { background:url(images/emoji20.png) no-repeat -0px -7780px; }
.emoji20-ski { background:url(images/emoji20.png) no-repeat -0px -7800px; }
.emoji20-skull { background:url(images/emoji20.png) no-repeat -0px -7820px; }
.emoji20-sleepy { background:url(images/emoji20.png) no-repeat -0px -7840px; }
.emoji20-slot_machine { background:url(images/emoji20.png) no-repeat -0px -7860px; }
.emoji20-smile { background:url(images/emoji20.png) no-repeat -0px -7880px; }
.emoji20-smiley { background:url(images/emoji20.png) no-repeat -0px -7900px; }
.emoji20-smirk { background:url(images/emoji20.png) no-repeat -0px -7920px; }
.emoji20-smoking { background:url(images/emoji20.png) no-repeat -0px -7940px; }
.emoji20-snake { background:url(images/emoji20.png) no-repeat -0px -7960px; }
.emoji20-snowman { background:url(images/emoji20.png) no-repeat -0px -7980px; }
.emoji20-sob { background:url(images/emoji20.png) no-repeat -0px -8000px; }
.emoji20-soccer { background:url(images/emoji20.png) no-repeat -0px -8020px; }
.emoji20-space_invader { background:url(images/emoji20.png) no-repeat -0px -8040px; }
.emoji20-spades { background:url(images/emoji20.png) no-repeat -0px -8060px; }
.emoji20-spaghetti { background:url(images/emoji20.png) no-repeat -0px -8080px; }
.emoji20-sparkler { background:url(images/emoji20.png) no-repeat -0px -8100px; }
.emoji20-sparkles { background:url(images/emoji20.png) no-repeat -0px -8120px; }
.emoji20-speaker { background:url(images/emoji20.png) no-repeat -0px -8140px; }
.emoji20-speedboat { background:url(images/emoji20.png) no-repeat -0px -8160px; }
.emoji20-squirrel { background:url(images/emoji20.png) no-repeat -0px -8180px; }
.emoji20-star { background:url(images/emoji20.png) no-repeat -0px -8200px; }
.emoji20-star2 { background:url(images/emoji20.png) no-repeat -0px -8220px; }
.emoji20-stars { background:url(images/emoji20.png) no-repeat -0px -8240px; }
.emoji20-station { background:url(images/emoji20.png) no-repeat -0px -8260px; }
.emoji20-statue_of_liberty { background:url(images/emoji20.png) no-repeat -0px -8280px; }
.emoji20-stew { background:url(images/emoji20.png) no-repeat -0px -8300px; }
.emoji20-strawberry { background:url(images/emoji20.png) no-repeat -0px -8320px; }
.emoji20-sunflower { background:url(images/emoji20.png) no-repeat -0px -8340px; }
.emoji20-sunny { background:url(images/emoji20.png) no-repeat -0px -8360px; }
.emoji20-sunrise { background:url(images/emoji20.png) no-repeat -0px -8380px; }
.emoji20-sunrise_over_mountains { background:url(images/emoji20.png) no-repeat -0px -8400px; }
.emoji20-surfer { background:url(images/emoji20.png) no-repeat -0px -8420px; }
.emoji20-sushi { background:url(images/emoji20.png) no-repeat -0px -8440px; }
.emoji20-suspect { background:url(images/emoji20.png) no-repeat -0px -8460px; }
.emoji20-sweat { background:url(images/emoji20.png) no-repeat -0px -8480px; }
.emoji20-sweat_drops { background:url(images/emoji20.png) no-repeat -0px -8500px; }
.emoji20-swimmer { background:url(images/emoji20.png) no-repeat -0px -8520px; }
.emoji20-syringe { background:url(images/emoji20.png) no-repeat -0px -8540px; }
.emoji20-tada { background:url(images/emoji20.png) no-repeat -0px -8560px; }
.emoji20-tangerine { background:url(images/emoji20.png) no-repeat -0px -8580px; }
.emoji20-taurus { background:url(images/emoji20.png) no-repeat -0px -8600px; }
.emoji20-taxi { background:url(images/emoji20.png) no-repeat -0px -8620px; }
.emoji20-tea { background:url(images/emoji20.png) no-repeat -0px -8640px; }
.emoji20-telephone { background:url(images/emoji20.png) no-repeat -0px -8660px; }
.emoji20-tennis { background:url(images/emoji20.png) no-repeat -0px -8680px; }
.emoji20-tent { background:url(images/emoji20.png) no-repeat -0px -8700px; }
.emoji20-thumbsdown { background:url(images/emoji20.png) no-repeat -0px -8720px; }
.emoji20-thumbsup { background:url(images/emoji20.png) no-repeat -0px -8740px; }
.emoji20-ticket { background:url(images/emoji20.png) no-repeat -0px -8760px; }
.emoji20-tiger { background:url(images/emoji20.png) no-repeat -0px -8780px; }
.emoji20-tm { background:url(images/emoji20.png) no-repeat -0px -8800px; }
.emoji20-toilet { background:url(images/emoji20.png) no-repeat -0px -8820px; }
.emoji20-tokyo_tower { background:url(images/emoji20.png) no-repeat -0px -8840px; }
.emoji20-tomato { background:url(images/emoji20.png) no-repeat -0px -8860px; }
.emoji20-tongue { background:url(images/emoji20.png) no-repeat -0px -8880px; }
.emoji20-top { background:url(images/emoji20.png) no-repeat -0px -8900px; }
.emoji20-tophat { background:url(images/emoji20.png) no-repeat -0px -8920px; }
.emoji20-traffic_light { background:url(images/emoji20.png) no-repeat -0px -8940px; }
.emoji20-train { background:url(images/emoji20.png) no-repeat -0px -8960px; }
.emoji20-trident { background:url(images/emoji20.png) no-repeat -0px -8980px; }
.emoji20-trollface { background:url(images/emoji20.png) no-repeat -0px -9000px; }
.emoji20-trophy { background:url(images/emoji20.png) no-repeat -0px -9020px; }
.emoji20-tropical_fish { background:url(images/emoji20.png) no-repeat -0px -9040px; }
.emoji20-truck { background:url(images/emoji20.png) no-repeat -0px -9060px; }
.emoji20-trumpet { background:url(images/emoji20.png) no-repeat -0px -9080px; }
.emoji20-tshirt { background:url(images/emoji20.png) no-repeat -0px -9100px; }
.emoji20-tulip { background:url(images/emoji20.png) no-repeat -0px -9120px; }
.emoji20-tv { background:url(images/emoji20.png) no-repeat -0px -9140px; }
.emoji20-u6e80 { background:url(images/emoji20.png) no-repeat -0px -9160px; }
.emoji20-u7a7a { background:url(images/emoji20.png) no-repeat -0px -9180px; }
.emoji20-u55b6 { background:url(images/emoji20.png) no-repeat -0px -9200px; }
.emoji20-u5272 { background:url(images/emoji20.png) no-repeat -0px -9220px; }
.emoji20-u6307 { background:url(images/emoji20.png) no-repeat -0px -9240px; }
.emoji20-u6708 { background:url(images/emoji20.png) no-repeat -0px -9260px; }
.emoji20-u6709 { background:url(images/emoji20.png) no-repeat -0px -9280px; }
.emoji20-u7121 { background:url(images/emoji20.png) no-repeat -0px -9300px; }
.emoji20-u7533 { background:url(images/emoji20.png) no-repeat -0px -9320px; }
.emoji20-umbrella { background:url(images/emoji20.png) no-repeat -0px -9340px; }
.emoji20-unamused { background:url(images/emoji20.png) no-repeat -0px -9360px; }
.emoji20-underage { background:url(images/emoji20.png) no-repeat -0px -9380px; }
.emoji20-unlock { background:url(images/emoji20.png) no-repeat -0px -9400px; }
.emoji20-up { background:url(images/emoji20.png) no-repeat -0px -9420px; }
.emoji20-us { background:url(images/emoji20.png) no-repeat -0px -9440px; }
.emoji20-v { background:url(images/emoji20.png) no-repeat -0px -9460px; }
.emoji20-vhs { background:url(images/emoji20.png) no-repeat -0px -9480px; }
.emoji20-vibration_mode { background:url(images/emoji20.png) no-repeat -0px -9500px; }
.emoji20-virgo { background:url(images/emoji20.png) no-repeat -0px -9520px; }
.emoji20-vs { background:url(images/emoji20.png) no-repeat -0px -9540px; }
.emoji20-walking { background:url(images/emoji20.png) no-repeat -0px -9560px; }
.emoji20-warning { background:url(images/emoji20.png) no-repeat -0px -9580px; }
.emoji20-watermelon { background:url(images/emoji20.png) no-repeat -0px -9600px; }
.emoji20-wave { background:url(images/emoji20.png) no-repeat -0px -9620px; }
.emoji20-wc { background:url(images/emoji20.png) no-repeat -0px -9640px; }
.emoji20-wedding { background:url(images/emoji20.png) no-repeat -0px -9660px; }
.emoji20-whale { background:url(images/emoji20.png) no-repeat -0px -9680px; }
.emoji20-wheelchair { background:url(images/emoji20.png) no-repeat -0px -9700px; }
.emoji20-white_square { background:url(images/emoji20.png) no-repeat -0px -9720px; }
.emoji20-wind_chime { background:url(images/emoji20.png) no-repeat -0px -9740px; }
.emoji20-wink { background:url(images/emoji20.png) no-repeat -0px -9760px; }
.emoji20-wink2 { background:url(images/emoji20.png) no-repeat -0px -9780px; }
.emoji20-wolf { background:url(images/emoji20.png) no-repeat -0px -9800px; }
.emoji20-woman { background:url(images/emoji20.png) no-repeat -0px -9820px; }
.emoji20-womans_hat { background:url(images/emoji20.png) no-repeat -0px -9840px; }
.emoji20-womens { background:url(images/emoji20.png) no-repeat -0px -9860px; }
.emoji20-x { background:url(images/emoji20.png) no-repeat -0px -9880px; }
.emoji20-yellow_heart { background:url(images/emoji20.png) no-repeat -0px -9900px; }
.emoji20-zap { background:url(images/emoji20.png) no-repeat -0px -9920px; }
.emoji20-zzz { background:url(images/emoji20.png) no-repeat -0px -9940px; }