<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="SignalR.Server" version="0.3.3" />
  <package id="xunit" version="1.8.0.1549" />
</packages>