body {
    font-family: Lucida Grande, Trebuchet MS;
    font-size: 13px;
    background-color: #e5e5e5;
}

.banner > * {
    float: left;
    margin-left: 10px;
}

.banner > div {
    float: left;
    margin-top: 28px;
    margin-left: 10px;
}

.banner a {
    color: #fff;
    text-decoration: none;
}

#logo {
    margin-top: 10px;
    margin-left: 0px;
}

#chat-area {
    position: absolute;
    top: 95px;
    bottom: 10px;
    left: 30px;
    right: 10px;
    min-height: 450px;
}

#heading {
    background-color: #00103f;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#heading h1 {
    margin-left: 5px;
}

.messages {
    width: 70%;
    border: 1px solid #ccc;
    overflow: auto;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    position: absolute;
    top: 24px;
    bottom: 70px;
    background-color: #fff;
}

.messages li {
    list-style-type: none;
    position: relative;
    margin: 0px;
}

.messages li.message {
    padding: 0px;
    border-left: 175px solid #f1f1f1; /* background color for left column (user info) */
}

.messages li img.gravatar {
    height: 16px;
    width: 16px;
}

.users {
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    font-size: small;
    white-space: nowrap;
    position: absolute;
    top: 24px;
    left: 71%;
    width: 25%;
    bottom: 70px;
    margin-left: 2px; /* for #messages border */
    margin-top: 0px;
}

.users li {
    padding: 4px;
}

.users li .name {
    word-wrap: break-word;
}

.users li.typing {
    background-image: url('Content/images/keyboard.png');
    background-repeat: no-repeat;
    background-position: right center;
}

#tabs {
    padding: 0;
    margin: 0px 0px 0px 5px;
    z-index: 1000;
    height: 30px;
}

#tabs li {
    display: inline-block;
    padding: 0;
    margin: 0px 4px 0px 0px;
    height: 30px;
    border-bottom: 0px;
    position: relative;
    background-color: #164c85;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#tabs li button {
    height: inherit;
    margin: 0;
    padding: 0 20px 0 0;
    border: none;
    outline: 0;
    background-color: transparent;
    color: inherit;
    cursor: inherit;
    font-weight: inherit;
}

#tabs li.current {
    color: #32aa52;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f5f5f5,  #e5e5e5); /* for firefox 3.6+ */
}

#tabs li .content {
    margin: 6px 10px 6px 10px;
}

#tabs li .close {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 16px;
    height: 16px;
    background: url(Content/images/close-icon.png);
}

#tabs li .close:hover {
    background: url(Content/images/close-icon-hover.png);
}

#tabs li.unread {
}

#tabs li:hover {
    background-color: #e5e5e5;
    color: #32aa52;
}

#tabs li.current:hover {
    background-color: #e5e5e5;
}

li.room {
    cursor: pointer;
}

li.room:hover {
    background-color: #f5f5f5;
}

#tabs li.lobby {
    background-color: #00103f;
    color: #fff;
    padding-right: 0;
}

#tabs li.lobby button 
{
    padding-right: 0;
    margin-right: 10px;
}

#tabs li.lobby.current {
    background-color: #00103f;
    color: #000;
}

#send-message {
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: 70%;
}

#message-box {
    position: absolute;
    left: 0;
    right: 115px;
    padding: 0;
    margin: 0;
}

#new-message {
    font-family: Trebuchet MS;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

#send {
    padding: 5px;
    position: absolute;
    right: 0;
    width: 100px;
}

#message-instruction {
    color: #999;
    font-style: italic;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.error {
    padding: 5px;
    background-color: #fddfde;
    border-bottom: 1px solid #fbc7c6;
}

.pm {
    color: Red;
    padding: 5px;
}

.notification {
    color: #bbb;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.message {
    border-bottom: 1px solid #eee;
}

.message.continue {
    border-bottom: 1px solid #f1f1f1;
}

.message .left {
    float: left;
    width: 170px; /* width should exclude padding */
    padding: 5px;
    margin-left: -175px;
}

.message .left .name {
    font-weight: bold;
}

.message .middle {
    margin-right: 85px;
    padding: 5px;
    word-wrap: break-word;
}

.messages li .right {
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0px;
    width: 75px;
}

.messages li .right .time {
    color: #bbb;
}

.highlight {
    background-color: #fff6bd;
}

.list-header {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.list-item {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #f1f1f1;
}


.list-header .content {
    font-weight: bold;
}

.list-item .right {
    /* hide time for list items */
    display: none;
}

.message-separator {
    height: 8px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#164c85', endColorstr='#eeeeee'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#164c85), to(#eee)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #164c85,  #eee); /* for firefox 3.6+ */
}

/* This stuff is to support TweetContentProvider, but should be extracted out if other content providers need custom CSS */

.tweet {
    margin-left: 30px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 6px;
    min-height: 48px;
}

.tweet img {
    float: left;
    margin-right: 5px;
}

.tweet .user {
    margin-bottom: 5px;
}

.tweet .name {
    font-weight: bold;
    font-size: 15px;
}

/* End TweetContentProvider CSS */

.captureDocumentWrite_collapsible h3, h3.collapsible_title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #1c94c4;
    font-size: smaller;
    padding: 5px;
    margin-bottom: 0px;
    border: 1px solid #CCCCCC;
    background-color: rgb(238,238,238);
    cursor: pointer;
}

.collapsible_box {
    border: 1px solid #DDD;
}

/* CLEAR FIX */
.clearfix:after {
    clear: both;
    display: block;
    content: " ";
    height: 0px;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hide these rules from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
li.clearfix {
    display: list-item;
}

/* CLEAR FIX */