<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.97.4951.28483" targetFramework="net45" />
  <package id="AntiXSS" version="4.2.1" targetFramework="net40" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.1" targetFramework="net45" />
  <package id="Highlight.js" version="1.0.4" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="jQuery" version="2.0.3" targetFramework="net45" />
  <package id="jquery.captureDocumentWrite" version="1.0" />
  <package id="jQuery.Cookie" version="1.3.1" targetFramework="net45" />
  <package id="jquery.keytips" version="1.0.6" targetFramework="net40" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="json2" version="1.0.2" targetFramework="net40" />
  <package id="marked" version="0.3.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.0-pre-140709-b104" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0-pre-140709-b104" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.0-pre-140709-b104" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.ServiceBus" version="2.2.0-pre-140709-b104" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SqlServer" version="2.2.0-pre-140709-b104" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0-pre-140709-b104" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.0-rc1-131128" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.0-rc1-131128" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.1.0-rc1-131128" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0-rc1-21123-712-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0-rc1-21123-712-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="2.1.0-rc1-21123-712-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0-rc1-21123-712-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0-rc1-21123-712-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0-rc1-21123-712-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="2.1.0-rc1-21123-712-dev" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.1.0" targetFramework="net45" />
  <package id="Nancy" version="0.20.0" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Ninject" version="0.20.0" targetFramework="net45" />
  <package id="Nancy.Owin" version="0.20.0" targetFramework="net45" />
  <package id="Nancy.SimpleAuthentication" version="0.3.14" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.20.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.7" targetFramework="net45" />
  <package id="Ninject" version="3.0.2-unstable-9037" targetFramework="net45" />
  <package id="Ninject.Extensions.ChildKernel" version="3.0.2-unstable-9006" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="QUnit-MVC" version="1.6.2.0" />
  <package id="RestSharp" version="104.3.0-beta" targetFramework="net45" />
  <package id="SimpleAuthentication.Core" version="0.3.14" targetFramework="net45" />
  <package id="SquishIt" version="0.9.3" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.3.2" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="2.1.3.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.1.0.3" targetFramework="net45" />
  <package id="YUICompressor.NET" version="2.2.1.0" targetFramework="net45" />
</packages>